In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [8]:
path = "http://localhost:8888/edit/Documents/projects/Github/OpenSource-Practise/Python/Mastering%20Python%20Data%20Analysis/Appendix/Example%20using%20the%20Pandas%20library/ratings.dat"
cols = ['user id', 'item id', 'rating', 'timestamp']
ratings = pd.read_csv(path, sep='::',
                      index_col=False, names=cols,
                      encoding="UTF-8",engine='python')

In [9]:
ratings [:5]

                           user id item id  rating  timestamp
0                  <!DOCTYPE HTML>    None     NaN        NaN
1                           <html>    None     NaN        NaN
2                           <head>    None     NaN        NaN
3           <meta charset="utf-8">    None     NaN        NaN
4  <title>Jupyter Notebook</title>    None     NaN        NaN